.panel {
  display: inline-flex;
  height: 100vh;
  flex: 1;
  flex-direction: column-reverse;
  align-items: center;
}

.panelText {
  padding-bottom: 2em;
  font-size: 20px;
}

.nameText {
  padding-bottom: 0.5em;
  font-size: 16px;
}
