.updateButton {
  margin: 1.5em;
  background-color: white;
  color: black;
  width: 50px;
  height: 50px;
  border: 1px beige solid;
  font-size: 30px;
}

.updateButton:hover {
  background-color: aliceblue;
}

.updateButton:active {
  background-color: aqua;
}
