.nav {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .logo {
    display: none;
  }
  .nav {
    flex-direction: column;
  }
}

.share {
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: flex-start;
  width: 100%;
}

.modalClose {
  background-color: rgb(204, 204, 204);
  color: black;
  width: fit-content;
  height: 50px;
  border: 1px beige solid;
  font-size: 30px;
}

.modalClose:hover {
  background-color: aliceblue;
}

.modalClose:active {
  background-color: aqua;
}
